#
# NOTE! Don't add files that are generated in specific
# subdirectories here. Add them in the ".gitignore" file
# in that subdirectory instead.
#
# NOTE! Please use 'git ls-files -i --exclude-standard'
# command after changing this file, to see if there are
# any tracked files which get ignored after the change.
#
# Normal rules
#
.*
*.o
*.o.*
*.a
*.s
*.ko.unsigned
*.ko.digest
*.ko.digest.sig
*.ko
*.so
*.so.dbg
*.mod.c
*.i
*.lst
*.symtypes
*.order
modules.builtin
*.elf
*.bin
*.gz
*.bz2
*.lzma
*.patch
*.gcno

#
# Top-level generic files
#
tags
TAGS
vmlinux
System.map
Module.markers
Module.symvers
!.gitignore
!.mailmap

#
# Generated include files
#
include/asm
include/asm-*/asm-offsets.h
include/config
include/linux/autoconf.h
include/linux/compile.h
include/linux/version.h
include/linux/utsrelease.h
include/linux/bounds.h
include/generated
arch/*/include/generated

# stgit generated dirs
patches-*

# quilt's files
patches
series

# cscope files
cscope.*
ncscope.*

# gnu global files
GPATH
GRTAGS
GSYMS
GTAGS

*.orig
*~
\#*#

configs/*
localversion

drivers/net/ethernet/*

#
# GPG leavings from module signing
#
trustdb.gpg
random_seed
kernel.pub
kernel.sec
extract.pub
secring.gpg
pubring.gpg
crypto/signature/key.h

# temporary nouveau firmware files
firmware/nouveau/nv50.ctxprog
firmware/nouveau/nv50.ctxvals
firmware/nouveau/nv84.ctxprog
firmware/nouveau/nv84.ctxvals
firmware/nouveau/nv86.ctxprog
firmware/nouveau/nv86.ctxvals
firmware/nouveau/nv92.ctxprog
firmware/nouveau/nv92.ctxvals
firmware/nouveau/nv94.ctxprog
firmware/nouveau/nv94.ctxvals
firmware/nouveau/nv96.ctxprog
firmware/nouveau/nv96.ctxvals
firmware/nouveau/nv98.ctxprog
firmware/nouveau/nv98.ctxvals
firmware/nouveau/nva0.ctxprog
firmware/nouveau/nva0.ctxvals
firmware/nouveau/nva5.ctxprog
firmware/nouveau/nva5.ctxvals
firmware/nouveau/nva8.ctxprog
firmware/nouveau/nva8.ctxvals
firmware/nouveau/nvaa.ctxprog
firmware/nouveau/nvaa.ctxvals

# configuration file for rh- targets
.rhel6git.mk
