# fs/teafs/Kconfig

config TEAFS
    tristate "TEAFS - Transparent Extensible Aggregated Filesystem"
    select FS_STACK
    help
      TEAFS is a single-layer overlay filesystem that forwards all operations
      to a specified backing directory.

      If unsure, say N.
