config BLK_DEV_PCACHE
	tristate "Persistent memory for cache of Block Device (Experimental)"
	depends on DEV_DAX && FS_DAX
	help
	  PCACHE (CXL Block Device) provides a mechanism to register a persistent
	  memory device as a caceh layer for block device.

	  Note: This feature is experimental and should be tested thoroughly
	  before use in production environments.

	  If unsure, say 'N'.

config PCACHE_CACHE_DATA_CRC
	bool "Enable PCACHE cache data checksum"
	default n
	depends on BLK_DEV_PCACHE
	help
	  In the PCACHE cache system, all cache keys are stored within a kset. Each
	  kset inherently includes a CRC to ensure the integrity of its stored
	  data, meaning that basic data integrity for all cache keys is enabled
	  by default.

	  Enabling PCACHE_CACHE_DATA_CRC, however, adds an additional CRC specifically
	  within each `cache_key`, providing a checksum for the actual data content
	  associated with each cache entry. This option ensures full data integrity
	  for both cache keys and the cached data itself, offering an additional
	  layer of protection against data corruption within the cache.
